{% extends 'base.html.twig' %}

{% block title %} Starship: starship {% endblock %}

{% block body %}
<h1> Hai Welome to Starship Workshop </h1>


<P> Number of Star Ship {{ starshipCount }}</P>

<table>
    {% for ship in myShip  %}
        <tr>
            <th> Name: </th>
            <td>
                <a href="{{ path('starship_show', {id: ship.id}) }}">
                    {{ ship.name }}
                </a>

            </td>
        </tr>
    {% endfor %}
</table>

{% endblock %}